@charset "UTF-8";

#resultingMatrix {
    display: flex;
}

#resultingMatrix > div {
    display: flex;
    
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 40px;

    border: 1px solid black;
}